<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户信息管理</title>
    <link rel="stylesheet" href="/jquery-easyui-1.3.3/themes/default/easyui.css">
    <link rel="stylesheet" href="/jquery-easyui-1.3.3/themes/icon.css">
    <script src="/jquery-easyui-1.3.3/jquery.min.js"></script>
    <script src="/jquery-easyui-1.3.3/jquery.easyui.min.js"></script>
    <script src="/jquery-easyui-1.3.3/locale/easyui-lang-zh_CN.js"></script>
    <script type="text/javascript">
        function formatuserStatus(val,row){
            if (val ==1){
                return "正常使用";
            }else {
                return "已停用！";
            }
        }
        function formatsex(val,row) {
            if (val==0){
                return "女";
            } else if (val==1){
                return "男";
            } else {
                return "保密";
            }
        }
        function search(){
            $("#dg").datagrid('load',{
                "phone":$("#phone").val(),
                "stime":$("#stime").datebox("getValue"),
                "etime":$("#etime").datebox("getValue"),
                "userStatus":$("#userStatus").combobox("getValue")
            });
        }
    </script>

</head>
<body>
<table id="dg" title="用户信息管理" class="easyui-datagrid"
       fitColumns="true" pagination="true" rownumbers="true" singleSelect="true"
       url="/usermanager/findAllUsers" fit="true" toolbar="#tb">
    <thead>
    <tr>
        <!--
  {"total":4,"rows":[{"id":1,"username":"TjSanshao","password":"123456","userStatus":1,"sex":2,"mobile":"13420120424","email":"1305705188@qq.com","regTime":"2018-11-26 10:32:48","lastUpdateTime":null,"userImageUrl":null,"nickName":null},
  {"id":6,"username":"testRegister","password":"newtestPassword","userStatus":1,"sex":0,"mobile":"17607591628","email":"testupdatebyuserid@test.com","regTime":"2018-11-30 17:02:53","lastUpdateTime":"2018-11-30 17:04:04","userImageUrl":null,"nickName":"tgw_17607591628"},
  {"id":8,"username":"13427491053","password":"123456","userStatus":1,"sex":2,"mobile":"13427491053","email":null,"regTime":"2018-12-03 15:35:50","lastUpdateTime":null,"userImageUrl":null,"nickName":null},{"id":10,"username":"testtest","password":"testtest","userStatus":1,"sex":2,"mobile":"12345678901","email":"test@test.com","regTime":"2018-12-03 18:50:05","lastUpdateTime":null,"userImageUrl":null,"nickName":null}]}
        -->

        <th field="id" width="50" align="center">编号</th>
        <th field="username" width="60" align="center">用户名</th>
        <th field="password" width="90" align="center">密码</th>
        <th field="sex" width="50" align="center" formatter="formatsex">性别</th>
        <th field="mobile" width="100" align="center">手机号码</th>
        <th field="email" width="80" align="center">邮箱</th>
        <th field="regTime" width="70" align="center">注册时间</th>
        <th field="lastUpdateTime" width="60" align="center">最后修改时间</th>
        <th field="nickName" width="60" align="center">用户昵称</th>
        <th field="userStatus" width="60" align="center" formatter="formatuserStatus">用户状态</th>

    </tr>
    </thead>
</table>
<div id="tb">

    <div>
        &nbsp;手 机 号：&nbsp;<input class="easyui-textbox" name="phone" id="phone" style="width:150px"></input>
        &nbsp;日期区间：&nbsp;<input class="easyui-datebox" name="stime" id="stime" style="width: 140px;"></input>
        &nbsp;--至--&nbsp;<input class="easyui-datebox" name="etime" id="etime" style="width: 140px;"></input>
        &nbsp;用户状态：&nbsp;
        <select id="userStatus" class="easyui-combobox" name="userStatus" panelHeight="auto" style="width: 135px;">
            <option value="" selected>请选择:</option>
            <option value="1">正常使用</option>
            <option value="0">已停用！</option>
        </select>
        <a href="javascript:search()" class="easyui-linkbutton" iconCls="icon-search" plain="true">搜索</a>
    </div>
</div>

</body>
</html>