<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.tgw.user.mapper.UserMapper" >
  <resultMap id="BaseResultMap" type="cn.tgw.user.model.User" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="user_status" property="userStatus" jdbcType="TINYINT" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, username, password, user_status, mobile
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tgw_user
    where id = #{id,jdbcType=INTEGER}
  </select>

  <!-- 自定义查询开始 -->

  <select id="selectByUsernameAndPasswordAndUserStatus" resultMap="BaseResultMap" parameterType="cn.tgw.user.model.User">
    select
    <include refid="Base_Column_List" />
    from tgw_user
    where username = #{username,jdbcType=VARCHAR} and password = #{password,jdbcType=VARCHAR} and user_status = #{userStatus,jdbcType=TINYINT}
  </select>

  <select id="selectByMobileAndPasswordAndUserStatus" resultMap="BaseResultMap" parameterType="cn.tgw.user.model.User" >
    select
    <include refid="Base_Column_List" />
    from tgw_user
    where mobile = #{mobile,jdbcType=VARCHAR} and password = #{password,jdbcType=VARCHAR} and user_status = #{userStatus,jdbcType=TINYINT}
  </select>

  <select id="selectByUsername" resultMap="BaseResultMap" parameterType="cn.tgw.user.model.User">
    select
    <include refid="Base_Column_List" />
    from tgw_user
    where username = #{username,jdbcType=VARCHAR}
  </select>
    <select id="findAllUsers" resultType="cn.tgw.user.model.User">
      select tgw_user.id, username, password, user_status from tgw_user inner join tgw_user_detail on tgw_user.id=tgw_user_detail.tgw_user_id
      <where>
        <if test="phone!=null and phone!=''">
          and mobile like #{phone}
        </if>
        <if test="stime!=null">
          and reg_time >= #{stime}
        </if>
        <if test="etime!=null">
          and  #{etime}>=reg_time
        </if>
      </where>
    </select>

    <!-- 自定义查询结束 -->

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tgw_user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.tgw.user.model.User" >
    insert into tgw_user (id, username, password, user_status, mobile)
    values (#{id,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{userStatus,jdbcType=TINYINT}, #{mobile,jdbcType=VARCHAR})
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">SELECT LAST_INSERT_ID()</selectKey>
  </insert>
  <insert id="insertSelective" parameterType="cn.tgw.user.model.User" >
    insert into tgw_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="userStatus != null" >
        user_status,
      </if>
      <if test="mobile != null" >
        mobile,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="userStatus != null" >
        #{userStatus,jdbcType=TINYINT},
      </if>
      <if test="mobile != null" >
        #{mobile,jdbcType=VARCHAR},
      </if>
    </trim>
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">SELECT LAST_INSERT_ID()</selectKey>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.tgw.user.model.User" >
    update tgw_user
    <set >
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="userStatus != null" >
        user_status = #{userStatus,jdbcType=TINYINT},
      </if>
      <if test="mobile != null" >
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.tgw.user.model.User" >
    update tgw_user
    set username = #{username,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      user_status = #{userStatus,jdbcType=TINYINT},
      mobile = #{mobile,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>