<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.tgw.businessman.mapper.BusinessmanMapper" >
  <resultMap id="BaseResultMap" type="cn.tgw.businessman.model.Businessman" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, username, password, status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tgw_businessman
    where id = #{id,jdbcType=INTEGER}
  </select>

  <!-- 自定义查询开始 -->

  <select id="selectByUsernameAndPasswordAndStatus" resultMap="BaseResultMap" parameterType="cn.tgw.businessman.model.Businessman">
    select
    <include refid="Base_Column_List" />
    from tgw_businessman
    where username = #{username,jdbcType=VARCHAR} and password = #{password,jdbcType=VARCHAR} and status = #{status,jdbcType=TINYINT}
  </select>

  <select id="selectByUsername" resultMap="BaseResultMap" parameterType="cn.tgw.businessman.model.Businessman">
    select
    <include refid="Base_Column_List" />
    from tgw_businessman
    where username = #{username,jdbcType=VARCHAR}
  </select>

  <!-- 自定义查询结束 -->

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tgw_businessman
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.tgw.businessman.model.Businessman" >
    insert into tgw_businessman (id, username, password, 
      status)
    values (#{id,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{status,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="cn.tgw.businessman.model.Businessman" >
    insert into tgw_businessman
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.tgw.businessman.model.Businessman" >
    update tgw_businessman
    <set >
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.tgw.businessman.model.Businessman" >
    update tgw_businessman
    set username = #{username,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      status = #{status,jdbcType=TINYINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>