<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tgw.comment.mapper.CommentMapper">
  <resultMap id="BaseResultMap" type="cn.tgw.comment.model.Comment">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="tgw_goods_id" jdbcType="INTEGER" property="tgwGoodsId" />
    <result column="tgw_user_id" jdbcType="INTEGER" property="tgwUserId" />
    <result column="comment_desc" jdbcType="VARCHAR" property="commentDesc" />
    <result column="comment_time" jdbcType="TIMESTAMP" property="commentTime" />
    <result column="comment_stars" jdbcType="TINYINT" property="commentStars" />
    <result column="tgw_order_id" jdbcType="INTEGER" property="tgwOrderId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, tgw_goods_id, tgw_user_id, comment_desc, comment_time, comment_stars, tgw_order_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tgw_goods_comment
    where id = #{id,jdbcType=INTEGER}
  </select>
    <select id="selectByUserId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List" />
        from tgw_goods_comment
        where tgw_user_id = #{userId,jdbcType=INTEGER}
    </select>
    <select id="selectByGoodsId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List" />
        from tgw_goods_comment
        where tgw_goods_id = #{goodsId,jdbcType=INTEGER}
    </select>
    <select id="selectByOrderId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List" />
        from tgw_goods_comment
        where tgw_order_id = #{orderId,jdbcType=INTEGER}
    </select>
    <select id="selectAllComment" resultMap="BaseResultMap">
      select
      <include refid="Base_Column_List" />
      from tgw_goods_comment
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tgw_goods_comment
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.tgw.comment.model.Comment">
    insert into tgw_goods_comment (id, tgw_goods_id, tgw_user_id, 
      comment_desc, comment_time, comment_stars, 
      tgw_order_id)
    values (#{id,jdbcType=INTEGER}, #{tgwGoodsId,jdbcType=INTEGER}, #{tgwUserId,jdbcType=INTEGER}, 
      #{commentDesc,jdbcType=VARCHAR}, #{commentTime,jdbcType=TIMESTAMP}, #{commentStars,jdbcType=TINYINT}, 
      #{tgwOrderId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="cn.tgw.comment.model.Comment">
    insert into tgw_goods_comment
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="tgwGoodsId != null">
        tgw_goods_id,
      </if>
      <if test="tgwUserId != null">
        tgw_user_id,
      </if>
      <if test="commentDesc != null">
        comment_desc,
      </if>
      <if test="commentTime != null">
        comment_time,
      </if>
      <if test="commentStars != null">
        comment_stars,
      </if>
      <if test="tgwOrderId != null">
        tgw_order_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="tgwGoodsId != null">
        #{tgwGoodsId,jdbcType=INTEGER},
      </if>
      <if test="tgwUserId != null">
        #{tgwUserId,jdbcType=INTEGER},
      </if>
      <if test="commentDesc != null">
        #{commentDesc,jdbcType=VARCHAR},
      </if>
      <if test="commentTime != null">
        #{commentTime,jdbcType=TIMESTAMP},
      </if>
      <if test="commentStars != null">
        #{commentStars,jdbcType=TINYINT},
      </if>
      <if test="tgwOrderId != null">
        #{tgwOrderId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.tgw.comment.model.Comment">
    update tgw_goods_comment
    <set>
      <if test="tgwGoodsId != null">
        tgw_goods_id = #{tgwGoodsId,jdbcType=INTEGER},
      </if>
      <if test="tgwUserId != null">
        tgw_user_id = #{tgwUserId,jdbcType=INTEGER},
      </if>
      <if test="commentDesc != null">
        comment_desc = #{commentDesc,jdbcType=VARCHAR},
      </if>
      <if test="commentTime != null">
        comment_time = #{commentTime,jdbcType=TIMESTAMP},
      </if>
      <if test="commentStars != null">
        comment_stars = #{commentStars,jdbcType=TINYINT},
      </if>
      <if test="tgwOrderId != null">
        tgw_order_id = #{tgwOrderId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.tgw.comment.model.Comment">
    update tgw_goods_comment
    set tgw_goods_id = #{tgwGoodsId,jdbcType=INTEGER},
      tgw_user_id = #{tgwUserId,jdbcType=INTEGER},
      comment_desc = #{commentDesc,jdbcType=VARCHAR},
      comment_time = #{commentTime,jdbcType=TIMESTAMP},
      comment_stars = #{commentStars,jdbcType=TINYINT},
      tgw_order_id = #{tgwOrderId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>